@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
:root{
    --primary-color: #172448;
    --secondary-color: #cf8b44;
}

.prim{
    color: var(--primary-color);
}

.sec{
    color: var(--secondary-color);
}

.hidden{
    display: none !important;
}

.shown{
    display: block !important;
}
body{
    background-color: azure;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

header{
    background-color: var(--secondary-color);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
}

header .h-logo{
    width: 6rem;
    height: auto;
    display:none;
}

header .h-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 1.4rem;
}

header .h-comp-name{
    color: var(--primary-color);
}

/* for navigation start */

nav{
    position: fixed;
    top: 1.5rem;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    margin-top: 0.1rem;
    align-items: center;
    border-bottom: 2px solid var(--primary-color);
}

nav .n-comp-name{
    font-size: 1.4rem;
    font-weight: 800;
}


nav .n-menus{
    display: flex;
    cursor: pointer;
    justify-content: flex-end;
    flex-grow: 1;
}
nav .menu-item{
    padding-right:1rem;
}

nav .n-logo{
    width: 6rem;
    height: auto;
}
/* for navigation end */

.hamburger-btn{
    display: none;
}

.hamburger-menu {
    position: fixed;
    top: 5.3rem;
    right: 0;
    width: 50vw;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    padding: 0.5rem 0;
  
    /* Start hidden */
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 999;
  }
  
  .hamburger-menu.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  

@media (max-width:616px) {
    header .h-logo{
        width: 4rem;
    }
    .h-contact{
        font-size: 0.8rem;
    }
    .h-comp-name{
        font-size: 1rem;
    }

    /* hide navigation */
    nav .n-menus{
        display: none;
    }

    /* show hamburger menu */
    .hamburger-btn{
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
        cursor: pointer;
        font-size: 1.5rem;
        padding-right: 1rem;
        color: var(--primary-color);
    }


    .hamburger-menu .hamburger-menu-item{
        /* padding-bottom: 0.5rem; */
        cursor: pointer;
        border-bottom: 1px solid #cf8b44;
        width: 100%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }


}

@media (max-width:767px) {

    /* hide navigation */
    /* nav .n-menus{
        display: none;
    } */
    nav{
        align-items: center;
    }

    nav .n-logo{
        display: block;
        width: 5rem;
        height: auto;
    }

}

